.white-container{
    background-color: white;
    width: 80%;
    margin-top: 30px;
    height: 70vh;
    padding: 5px;
    text-align: center;
}

.success{
    font-size: 80px;
    margin:auto;
}

.complete{
    font-size: 45px;
    font-weight: 500;
    margin: auto;
}


.home-btn{
    font-weight: 200;
    background-color: blue;
    margin: auto;
    font-size: 20px;
}
