.container{
    margin:3em auto;
    width:80%;
    display:grid;
    /* grid-template-columns:repeat(3 1fr); */
    grid-template-rows:75px 45px 450px 75px;
    grid-gap:3px;
  }

.transfer{
    text-align: -webkit-center;
   
  
}

.rate-fee{
    justify-content: center;
    align-items: center;
    display: flex;
  
}

.values{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
   
}

.name{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    
}

.country-name{
    justify-content: center;
    align-items: center;
    display: flex;
   
} 

.confirm-btn{
    justify-content: center;
   
  
   
}