.white-container-summary{
    background-color: white;
    width: 80%;
    margin-top: 30px;
    height: auto;
    padding: 5px;
    text-align: start;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.fraud-header{
    text-align: center;
    font-size: 28px;
    margin: 20px ;
}

.fraud-text{
    font-size: 16px;
    font-weight: 500;
}

.almost-done-header{
    font-size: 17px;
    margin: 1px;
}

.fraud-btn-container{
    text-align: right;

}
.fraud-btn{
    font-size: 28px;
    color: #6D6D6D;
    background-color: #C4C4C4;
    font-weight: 600;
    padding: 4px 20px;
    text-transform: capitalize;   
}